{# mp.jobb.job.read.html.twig #}
{% extends app['mp.jobb.templates.layout'] %}
{% block content %}
    {% if job is not null %}

        <h3>{{ job.company }} <span class="pull-right"><small><i>{{ job.location }}</i></small></span></h3>
        <h4>{{ job.position }} -
            <small>{{ job.type }}</small>
        </h4>
        <div class="row">
            <div class="span8">
                {{ job.description }}
            </div>
            <div class="span4">
                <img src="http://placehold.it/200x100&text=Company+Logo" class="pull-right" alt="">
            </div>
        </div>
        <h5>How to apply?</h5>
        <div>{{ job.howToApply }}</div>
        <div class="pull-right muted"><small><i>Posted on {{ job.createdAt|date('Y-m-d') }}</i></small></div>
        <div>
        <hr>
            <a href="{{ path("job_update",{id : job.id}) }}" class="btn">
                Edit
            </a>
        </div>
    {% else %}
        <h3>No job found</h3>
    {% endif %}
{% endblock %}
